<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.svg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Sean Norton</h1>
		<p>This is a pretty cool blog, I followed <a href="http://twitter.com/mackenziechild">@MackenzieChild</a>'s tutorial to help me learn Rails. </p>
		<p>This week I built a blog in Rails 4. So far Rails is amazing and allows me to do all sorts of things in a more timley fashion.</p>
	</div>
</div>
